.btn-primary{
     background-color: green;
     color: white;
     padding:10px 16px;
     border:none;
     border-radius:5px;
}
ul{
     list-style-type: none;
     margin: 0;
     
}
li{
     margin: 0;
}
a{
     text-decoration: none;
     display: none;
     
}
.btn-primary a:hover{
     display: block;
}