*{
     margin:0px;
     padding:0px;
}

body{
     background-color:#EEE;
}
p{
     padding:10px;
     width:350px;
     color:#29521d;
     text-align: justify;
    /* text-decoration: underline;*/
     text-indent: 30px;
     line-height:1.8;
     word-spacing: 3px;
     /*text-shadow: 1px 3px 5px;*/
     text-shadow: 2px 2px 2px rgba(104, 102, 102, 0.5);
}
a{
     padding:10px;
     text-decoration:none;
     text-transform: capitalize;
     letter-spacing:3px;

}
.personal{
     text-indent: 30px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 600;
     color:rgb(6, 111, 209);
     font-style: oblique;
     font-size: 1.2em;
     
}