*{
     padding: 0;
     margin:0;
    box-sizing: none;
}
body{
     background-color:#EEE;
     color:#523939
}
#parrafo{
     color:blue;
}
.etiqueta{
     color:green;
}
.etiqueta2{
     color:rgb(245, 136, 11);
}
.caja{
     text-align: center;
     margin:8px;
     background-color:#aaf;
     padding:8px;
     width: 100px;
     border:4px solid rgb(7, 173, 29);
     border-style: dashed double dotted solid;
     border-radius:5px
}
.caja2{
     text-align: center;
     margin:8px;
     background-color:rgb(7, 169, 233);
     color:#FFF;
     padding:8px;
     width: 100px;    
     border-radius:5px;
     box-shadow: -2px 2px rgb(98, 98, 98);
     
}