*{
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.linea, a, span, strong, img, input, code, label, button{
     
     border: 3px dotted rgb(38, 131, 1);
}
.bloque, h1, p, ul, li, div, header, nav, section, article, footer, form, table {
     
     border: 3px dashed rgb(131, 1, 34);
}
.invisible{
     display:none;
}
img{
     border-top:30px
}